.login__container {
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.login__container-title {
    margin: 10%;
    color: black;
    font-weight: bold;
    text-align: center;
}

.login-form-input {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-form-input-label {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.login-form-input-text {
    height: 30px;
    font-size: 18px;
    border-radius: 3px;
    border: 1px solid gray ;
}

.login-form-input__button {
    display: flex;
    flex-direction: column;
}

.login-form-input__button--submit {
    margin-top: 50px;
    border: none;
    border-radius: 3px;
    background-color: #ff535a;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

.login-form-input--register {
    text-align: center;
    margin-top: 20px;
    color: #0073c6;
    text-decoration: none;
}

.alert {
    color: red;
}
