.profile__container {
    height: 100%;
    width: 100%;
}

.profile {
    width: 80%;
    height: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    width: 33%;
    height: 100%;
    margin: auto 0 auto 30px;
}

.profile-user-name {
    width: 33%;
    height: 40%;
    margin: auto 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.profile-edit-button {
    width: 33%;
    height: 40%;
    margin: auto 10px;
    color: red;
    background-color: transparent;
    box-sizing: border-box;
    border: 2px solid red;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
}


.item__container-tabs {
    width: 100%;
    height: 30px;
    border-bottom: 2px solid gray ;
    margin-top: 5%;
}

.tab {
    margin-left: 5%;
    text-decoration: none;
    border: none;
    color: gray;
    font-weight: bold;
}

.tab.selected {
    color: red;
}

.flea-market__tab-content {
width: 90%;
margin: 5% auto;
}

.flea-market__flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item-preview {
    width: 22%;
}

.flea-market__flex-box::before {
    content: "";
    display: block;
    width: 22%;
    order: 1;
}

.flea-market__flex-box::after {
    display: block;
    content: "";
    width: 22%;
}

.item-link {
    text-decoration: none;
}

.item-image {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid gray;
}

.item-name {
    margin-top: 0;
    color: gray;
}

